<h1> Welcome <%= current_user.username %> </h1>

<% if current_user.student? %>
  <%= render partial: 'partials/student_dashboard' %>
<% elsif current_user.teacher? %>
  <%= render partial: 'partials/teacher_dashboard' %>
<% elsif current_user.admin? %>
  <%= render partial: 'partials/admin_dashboard' %>
<% end %>
