<h1><%= @course.title %></h1>

<h2>Enrolled Students</h2>
<ul>
  <% @course.enrollments.each do |enrollment| %>
    <li class='student'><%= enrollment.student.name %>: <%= enrollment.grade %></li>
    <% end %>
</ul>
<h2>Remove from your roster:</h2>
<%= render partial: 'form' %>
